<a><header class="productCart__header"></a>
   
   
    <a><section class="productCart__heater__section"></a>
       <a> <div id="productCart__header__div-img"></a>
           <a> <img class="header__logo1" src="/img/Cerámicas_img2.png" alt="logo"></a>
           <a> <img class="header__logo2" src="/img/Cerámicas_img.png" alt="logo"></a>
        </div>
        <h1 class="header__h1">Céramicas Del Oeste</h1>
      <a> <div class="productCart__header__div-iconRedes"></a>
           <a> <i class="fa-brands fa-facebook"></i></a>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        <a><div class="productCart__header__div-Location"></a>
            <a><i class="fa-solid fa-location-dot"></i></a>
        </div>
        <div productCart__header__div-busqueda>
            <form action="">
                <a><input class="productCart__header__div-busqueda-input" type="text" placeholder="Buscar"></a>
                <button type="submit"><i class="fa-solid fa-search"></i></button>
            </form>
        </div>
        <div>
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div>
            <a href="/login"><i class="fa-solid fa-user"></i></a>

        </div>

    </section>
    <a><section class="productCart__heater__section2"></a>
        
        <nav class="index__header__menu--nav">
            <ul>
                     <li><a href="">Productos</a></li>
                     <li><a href="">Adhesivos</a></li>
                     <li><a href="">Pastinas</a></li>
                     <li><a href="">Decorados</a></li>
            </ul>
            </nav>
            <nav class="index__header__menu--nav">
                <ul>
                         <li><a href="">Quienes somos?</a></li>
                         <li><a href="">Medios de pago</a></li>
                         <li><a href="">AHORA 12</a></li>
                </ul>
                </nav>
    </section>
</header>