<link href="/stylesheets/header.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<header class="productCart__header">
   
   
    <section class="productCart__heater__section">
        <div id="productCart__header__div-img">
            <a href="/"><img class="header__logo1" src="/img/Cerámicas_img2.png" alt="logo"></a>
            <a href="/"><img class="header__logo2" src="/img/Cerámicas_img.png" alt="logo"></a>
           
            
           
        </div>
        <a href="/"><h1 class="header__h1">Céramicas Del Oeste</h1></a>
        
      <a> <div class="productCart__header__div-iconRedes"></a>
           <a> <i class="fa-brands fa-facebook"></i></a>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        <a><div class="productCart__header__div-Location"></a>
            <a><i class="fa-solid fa-location-dot"></i></a>
        </div>
        <div id='search-box1'>
            <form action='/products/search' id='search-form' method='get' target='_top'>
            <input id='search-text' name='q' placeholder='Escribe lo que buscas' type='text'/>
            <button id='search-button' type='submit'><span>Buscar</span></button>
            </form>
            </div>
        
        <div class="icons">
            <a href="/products/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <% if (locals.userLogin) { %>
         <div class="icons">
            <a href="/users/profile">Mi perfil </a>
         </div>
         <div class="icons">
            <a href="/users/logout">Salir</a>
         </div>
         <% if (locals.userLogin.rolId === 1) { %>
            <li><a href="/products/creationProduct">Crear Producto</a></li>
         <% } %>
        <% } else { %>
        
        <div class="icons">
            <a href="/users/login"><i class="fa-solid fa-user"></i></a>

        </div>
        <% } %>
        <div id='search-box'>
            <form action='/search' id='search-form' method='get' target='_top'>
            <input id='search-text' name='q' placeholder='Escribe lo que buscas' type='text'/>
            <button id='search-button' type='submit'><span>Busca!</span></button>
            </form>
            </div>
    </section>
    <div class="index__header__menu--nav">
        
            
            <div>
                <nav>
                    <ul>
                        <li><a class="" href="/products/totalProducts">Productos</a></li>
                        <li><a class="" href="/users/quienesSomos">Quienes somos?</a></li>
                        <li><a href="/users/medidasDePago">Medios de pago</a></li>
                        <li><a href="/users/login" class="sesionCelu" >Inicia Sesion</a></li>
                        
                    </ul>
                    
                </nav>
                
            </div>
            
                <div class="icons2">
                    <nav>
                        <ul>
                            <li><a href="/products/productCart"><i class="fa-solid fa-cart-shopping"></i> Carrito de Compras</a></li>
                            <% if (locals.userLogin) { %>
                                <div class="icons">
                                   
                                </div>
                                <div class="icons">
                                  
                                </div>
                                <% if (locals.userLogin.rolId === 1) { %>
                                   <li><a href="/users/logout">Salir</a></li>
                                   <li><a href="/users/profile">Mi perfil </a></li>
                                <% } %>
                               <% } else { %>
                               
                               <div class="icons">
                                   <a href="/users/login"><i class="fa-solid fa-user"></i></a>
                                   

                               </div>
                               <% } %>
                        </ul>
                    </nav>
                    
                    
                    
                </div>
            </div>
            
               
       
    </div>
    <div class="hide">
        <i class="fa fa-bars" aria-hidden="true"></i> Menu
      </div> 
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script>
    $(".hide").on('click', function() {
      $("nav ul").toggle('slow');
    })
  </script>
</header>