<header class="productCart__header">
    <section class="productCart__header__section">
        <div id="productCart__header__div-img">
            <img class="header__logo1" src="/images/Cerámicas_img2.png" alt="logo">
            <img class="header__logo2" src="/images/Cerámicas_img.png" alt="logo">
        </div>
        <h1 class="header__h1">Céramicas Del Oeste</h1>
        <div class="productCart__header__div-iconRedes">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        <div class="productCart__header__div-Location">
            <i class="fa-solid fa-location-dot"></i>
        </div>
        <div productCart__header__div-busqueda>
            <form action="">
                <input class="productCart__header__div-busqueda-input" type="text" placeholder="Buscar">
                <button type="submit"><i class="fa-solid fa-search"></i></button>
            </form>
        </div>
        <div>
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div>
            <a href="/login"><i class="fa-solid fa-user"></i></a>

        </div>
    </section>
    <section class="productCart__heater__section2">
        
        <nav class="index__header__menu--nav">
            <ul>
                     <li><a href="">Productos</a></li>
                     <li><a href="">Adhesivos</a></li>
                     <li><a href="">Pastinas</a></li>
                     <li><a href="">Decorados</a></li>
            </ul>
            </nav>
            <nav class="index__header__menu--nav">
                <ul>
                         <li><a href="">Quienes somos?</a></li>
                         <li><a href="">Medios de pago</a></li>
                         <li><a href="">AHORA 12</a></li>
                </ul>
                </nav>
    </section>
</header>