<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ceramicas del oeste | Creacion de Producto </title>

  
  <link href="/stylesheets/header.css" rel="stylesheet">
  <link href="/stylesheets/footercss" rel="stylesheet">
  <link href="/stylesheets/creationProduct.css" rel="stylesheet">

  <a>
    <script src="https://kit.fontawesome.com/ae1423e40e.js" crossorigin="anonymous"></script>
  </a>
</head>

<body>

  <%- include('./partials/header',) %>

    <main>
      <h4>Creacion de Producto</h4>
      <form action="/products/store" method="POST" enctype="multipart/form-data" id="creationProduct">
        <div class="input-field">
          <input type="text"  id="name" name="name">
          <label> Nombre </label>
          <p id="nameMsg"></p>
        </div>
        <div class="input-field">
          <input type="color"  id="color" name="color" value="#FFFFFF">
          <label> Gama de color </label>
          <p id="colorMsg"></p>
        </div>

        <div class="input-field">
          <input type="text"  id="style" name="style">
          <label> Estilo </label>
        <p id="styleMsg"></p>
        </div>
        <div class="input-field">
          <input type="text"  id="dimension" name="dimension">
          <label> Dimensiones </label>
          <p id="dimensionMsg"></p>
        </div>
        <div class="input-field">
          <input type="text"  id="discount" name="discount" value="0">
          <label> Descuento </label>
          <p id="discountMsg"></p>
        </div>
        <div class="input-field">
          <input type="text"  id="recomendation" name="recomendation">
          <label> Recomendaciones de uso </label>
          <p id="recomendationMsg"></p>
        </div>
        <div class="input-field">
          <input type="number"  id="pei" name="pei">
          <label> Tipo de transito(Pei) </label>
          <p id="peiMsg"></p>
        </div>
        <div class="input-field">
          <input type="text"  id="transit" name="transit">
          <label> Tipo de transito </label>
          <p id="transitMsg"></p>
        </div>
        <div class="input-field">
          <input type="text"  id="model" name="model">
          <label> Modelo </label>
          <p id="modelMsg"></p>
        </div>
        <div class="input-field">
          <input type="text"  id="origin" name="origin">
          <label> Origen </label>
          <p id="originMsg"></p>
        </div>
        <div class="input-field">
          <input type="number"  id="price" name="price" class="form-input">
          <label>Precio</label>
          <p id="priceMsg"></p>
        </div>
        <div class="input-field">
          <input type="number"  id="box" name="box" class="form-input">
          <label>Precio x caja</label>
          <p id="boxMsg"></p>
        </div>

        <div class="input-field">
          <input type="text"  id="code" name="code" class="form-input">
          <label>Codigo del producto</label>
          <p id="codeMsg"></p>
        </div>
        <div class="input-field">
          <textarea type="text"  id="description" name="description" class="form-input"></textarea>
          <label>Descripción</label><p id="descriptionInfo" hidden><span id="numberCharacters"></span> disponibles</p>
						<p id="descriptionMsg"></p>
        </div>
        <div class="input-field">
          <label for="category">Categoría</label>
          <select name="category" id="category"><option value="baños">Baños</option><option value="interior">Interior</option><option value="exterior">exterior</option></select>
          <p id="categoryMsg"></p>
        <div class="fotos">
          <h4>Fotos del producto</h4>
          <input type="file" name="images" id="images" class="importar__img" multiple/>
          <p id="imagePrev"></p>
        </div>
        <div class="button">
            <button type="submit" id="creationProductButton" disabled>Crear nuevo producto</button>
        </div>
      </form>
    </main>

    <%- include("./partials/footer") %>
<script src="/javascripts/creationProduct.js"></script>

</body>

</html>