<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ceramicas del oeste | Creacion de Producto </title>

  
  <link href="/stylesheets/header.css" rel="stylesheet">
  <link href="/stylesheets/footercss" rel="stylesheet">
  <link href="/stylesheets/creationProduct.css" rel="stylesheet">

  <a>
    <script src="https://kit.fontawesome.com/ae1423e40e.js" crossorigin="anonymous"></script>
  </a>
</head>

<body>

  <%- include('./partials/header',) %>

    <main>
      <h4>Creacion de Producto</h4>
      <form action="/products/store" method="POST" enctype="multipart/form-data">
        <div class="input-field">
          <input type="text" required id="name" name="name">
          <label> Nombre </label>

        </div>
        <div class="input-field">
          <input type="color" required id="color" name="color" value="#FFFFFF">
          <label> Gama de color </label>

        </div>

        <div class="input-field">
          <input type="text" required id="style" name="style">
          <label> Estilo </label>

        </div>
        <div class="input-field">
          <input type="text" required id="dimension" name="dimension">
          <label> Dimensiones </label>

        </div>
        <div class="input-field">
          <input type="text" required id="recomendation" name="recomendation">
          <label> Recomendaciones de uso </label>

        </div>
        <div class="input-field">
          <input type="number" required id="pei" name="pei">
          <label> Tipo de transito(Pei) </label>

        </div>
        <div class="input-field">
          <input type="text" required id="transit" name="transit">
          <label> Tipo de transito </label>

        </div>
        <div class="input-field">
          <input type="text" required id="model" name="model">
          <label> Modelo </label>
        </div>
        <div class="input-field">
          <input type="text" required id="origin" name="origin">
          <label> Origen </label>
        </div>
        <div class="input-field">
          <input type="number" required id="price" name="price" class="form-input">
          <label>Precio</label>

        </div>
        <div class="input-field">
          <input type="number" required id="name" name="box" class="form-input">
          <label>Precio x caja</label>
        </div>

        <div class="input-field">
          <input type="text" required id="name" name="code" class="form-input">
          <label>Codigo del producto</label>

        </div>
        <div class="input-field">
          <textarea type="text" required id="name" name="description" class="form-input"></textarea>
          <label>Descripción</label>
        </div>
        <div class="input-field">
          <label for="category">Categoría</label>
          <select name="category" id="category"></select>
        
        <div class="fotos">
          <h4>Fotos del producto</h4>
          <input type="file" name="images" class="importar__img" multiple/>
        </div>
        <div class="button">
            <button type="submit">Crear nuevo producto</button>
        </div>
      </form>
    </main>

    <%- include("./partials/footer") %>


</body>

</html>