<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ceramicas del oeste | <%- title %> </title >
 
        <link   href="/stylesheets/login.css" rel="stylesheet">
        <link   href="/stylesheets/header.css" rel="stylesheet">
        <link   href="/stylesheets/editionProduct.css" rel="stylesheet">

     <a>   <script src="https://kit.fontawesome.com/ae1423e40e.js" crossorigin="anonymous"></script></a>
    </head>
<body>
    <%- include('./partials/header',) %>
</body>
<main>
<div class="">
    <form>
       <div class="input-field">
          <input type="text" required>
          <label>Nombre del producto</label>
       </div>
       <div class="input-field">
          <input class="pswrd" type="text" required>
          
          <label>Descripcion</label>
       </div>
       
       
       <div class="input-field">
        <input type="text" required>
        <label>Datos tecnicos</label>
     </div>
     <div class="input-field">
        <input type="number" required>
        <label>Precio</label>
     </div>
     <div class="input-field">
        <input type="number" required>
        <label>Precio x caja</label>
     </div>
    
    
     <div class="input-field">
        <input type="text" required>
        <label>Codigo del producto</label>
     </div>
     <div class="clasificacion">
        <h4>Clasificacion</h4>
                <form action=""><label><input type="checkbox" name="Pescar" value="Pescar"> Exterior</form>
                <form action=""><label><input type="checkbox" name="Pescar" value="Pescar"> Interior</label></form>
                <form action=""><label><input type="checkbox" name="Pescar" value="Pescar"> Baños</label></form>
       </div>
       <div class="fotos">
        <h4>Fotos del producto</h4>
        <form name="imgAdd" type="POST" enctype="multipart/form-data" >
         <input type="file" name="imgAdd" class="importar__img"/>
       </div>
      
        
        </form>
       <div class="button">
          <div class=""></div>
          <a href="/products/productDetail"><button>Guardar Cambios</button></a>
       </div>
    </main>
    <%- include("./partials/footer") %> 
   </body>
</html>