<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<body class="index__body">
<%- include('./partials/header',) %>
 <main class="index__main">
 <article class="index__main__section__article">
    <div class="index__main__section__article__photo">
    <img src="/images/carrusel4.jpg" alt="producto1">
    </div> 
  
</article>   

<article class="index__main__section__article">
     <div class="index__main__section__article__clases">
    <div class="interiores">
        <h2>Interiores</h2>
        <img src="/images/exterior.jpg" alt="">
        <p>Ver mas</p>
    </div>
    <div class="exteriores">
        <h2>Exteriores</h2>
        <img  src="/images/exterior.jpg" alt="">
        <p>Ver mas</p>
    </div>
    <div class="baños">
        <h2>Baños</h2>
        <img src="/images/baño.jpg" alt="">
        <p>Ver mas</p>
    </div>
     </div>
  
  </article> 
  <h2>Ofertas</h2>
  <article class="ofertas">
    <div class="caja__oferta">
     <img src="/images/ceramica1.jpg" alt="">
     <p>S.lorenzo porc. 57x57 urban  </p>
     <a href="/productDetail"><p>ver mas</p></a>
    </div>
    <div class="caja__oferta">
    <img src="/images/ceramica1.jpg" alt="">
    <p>S.lorenzo porc. 57x57 urban </p>
    <a href="/productDetail"><p>ver mas</p></a>
    </div>
    <div class="caja__oferta">
    <img src="/images/ceramica1.jpg" alt="">
    <p>S.lorenzo porc. 57x57 urban  </p>
    <a href="/productDetail"><p>ver mas</p></a>
    </div>
    <div class="caja__oferta">
    <img src="/images/ceramica1.jpg" alt="">
    <p>S.lorenzo porc. 57x57 urban </p>
    <a href="/productDetail"><p>ver mas</p></a>
    </div>
  </article>
  <h2>Nuevos Productos</h2>
  <article class="ofertas">
    <div class="caja__oferta">
     <img src="/images/ceramica1.jpg" alt="">
     <p>S.lorenzo porc. 57x57 urban  </p>
     <a href="/productDetail"><p>ver mas</p></a>
    </div>
    <div class="caja__oferta">
    <img src="/images/ceramica1.jpg" alt="">
    <p>S.lorenzo porc. 57x57 urban </p>
    <a href="/productDetail"><p>ver mas</p></a>
    </div>
    <div class="caja__oferta">
    <img src="/images/ceramica1.jpg" alt="">
    <p>S.lorenzo porc. 57x57 urban  </p>
    <a href="/productDetail"><p>ver mas</p></a>
    </div>
    <div class="caja__oferta">
    <img src="/images/ceramica1.jpg" alt="">
    <p>S.lorenzo porc. 57x57 urban </p>
    <a href="/productDetail"><p>ver mas</p></a>
    </div>
  </article>

 </main>   
    
<%- include('./partials/footer') %>
</body>

</html>