<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="generalsheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/ae1423e40e.js" crossorigin="anonymous"></script>
    
    <title>Ceramicas del oeste</title >


</head>
<body>
    <header class=" index__header" >
        <div class="index__header__logo">
         <img  src="/images/Cerámicas_img.png"alt="logo" width="10%">
         <img  src="/images/Cerámicas_img2.png"alt="logo" width="10%">
         

        
        </div>
<button class="index__button"><i class="fa-solid fa bars"></i></button> 
<input type="button">
<nav class="index__header__menu_nav">
<ul>
         <li><a href="">céramicas</a></li>
         <li><a href="">medidas</a></li>
         <li><a href="">colores</a></li>
         <li><a href="">tamaño</a></li>
</ul>
</nav>
</header>
 <main class="index__main">
<section class="index__main__section">
 <article class="index__main__section__article">
    <div class="index__main__section__article__photo">
    <img src="/images/descarga (1).jpg" alt="producto1">
    
    <a href=""> foto  provisoriamente aca va carrusel</a>
   </div> 
  <p>ceramicas del oeste encuentre todo tipo de ofertas,tipo de ceramicas  acorde a su presupuesto!!!!!!!</p>
</article>   

<article class="index__main__section__article">
    <div class="index__main__section__article__photo">
    <img src="/images/no-todas-las-baldosas-ceramicas-son-iguales.jpg " alt="producto2" width="50%">
    
    <a href="">ampliar foto</a>
   </div> 
  </article> 
</section>
 </main>   
    

  <footer class="index__footer">
  
  /*    aca va el google map y almanaque  */
<img src="/images/gps.png" width="25%"  >
<img src="/images/almaneque(3).jpg " width="35%">
/*    aca va el google map y almanaque  */

</footer>
   
 
 
 
 
 
<h2>Home</h2>
  
    
        <ul type="none">
        <li><a href="/">Home</a></li>
        <li><a href="/login.html">login</a></li>
        <li><a href="/productCart.html">carrito de compras</a></li>
        <li><a href="/productDetail.html">detalle de producto</a></li>
        <li><a href="/register.html">registro</a></li>
        
    </ul>
</body>
</html>
