<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ceramicas del oeste</title >

    <link   href="/css/index.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ae1423e40e.js" crossorigin="anonymous"></script>
    


</head>
<body class="index__body">
    <header class="index__header" >
        <div class="index__header__logo">
         <img   class ="foto2" src="/images/Cerámicas_img.png"alt="logo" >
         <img   class="foto1" src="/images/Cerámicas_img2.png"alt="logo" >
         </div>
         <ul class="index__header_inscripciones">
          <li><a href="">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
          <li><a href="">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
          <li><a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
        
         <button i class="fa-solid fa-bars" ></i></button > 
         
    </header>
<nav class="index__header__menu_nav">
<ul>
         <li><a href="">céramicas</a></li>
         <li><a href="">medidas</a></li>
         <li><a href="">colores</a></li>
         <li><a href="">tamaño</a></li>
</ul>
</nav>
</header>
 <main class="index__main">
<section class="index__main__section">
 <article class="index__main__section__article">
    <div class="index__main__section__article__photo">
    <img src="/images/images (2).jpg" alt="producto1" width="60%">
    
    <a href=""> </a>
   </div> 
  <p class="index__p"> ceramicas del oeste encuentre todo tipo de baldosas,ceramicas,ofertas,productos, envios de ceramicas  acorde a su presupuesto!</p>
</article>   

<article class="index__main__section__article">
    <div class="index__main__section__article__photo">
    <img src="/images/no-todas-las-baldosas-ceramicas-son-iguales.jpg " alt="producto2" width="70%">
      <a href=""></a>
   </div> 
  
  </article> 
</section>
 </main>   
    

  <footer class="index__footer">
    <img src="/images/gps.png" width="15%"  >
    <img src="/images/almaneque(3).jpg " width="15%">
    <section>
      <h3 class="footer_section_h3">Seguridad, de principio a fin</h3>
      <p class="footer_section_p">No te gusta? Devolvelo! En Ceramicas Del Oeste, no hay nada que no puedas hacer,
      porque estas siempre protegido.</p>
  </section>
  
  <p class="ultimo_p">Copyright  1999-2023 Ceramicas Del Oeste S.R.L.</p>



</footer>


 
 
 
