<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ceramicas del oeste</title >

    <link   href="/css/index.css" rel="stylesheet">
 <a>   <script src="https://kit.fontawesome.com/ae1423e40e.js" crossorigin="anonymous"></script></a>
    


</head>
<body class="index__body">
  <a><header class="productCart__header"></a>
   
   
    <a><section class="productCart__heater__section"></a>
       <a> <div id="productCart__header__div-img"></a>
           <a> <img class="header__logo1" src="/img/Cerámicas_img2.png" alt="logo"></a>
           <a> <img class="header__logo2" src="/img/Cerámicas_img.png" alt="logo"></a>
        </div>
        <h1 class="header__h1">Céramicas Del Oeste</h1>
      <a> <div class="productCart__header__div-iconRedes"></a>
           <a> <i class="fa-brands fa-facebook"></i></a>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        <a><div class="productCart__header__div-Location"></a>
            <a><i class="fa-solid fa-location-dot"></i></a>
        </div>
        <div productCart__header__div-busqueda>
            <form action="">
                <a><input class="productCart__header__div-busqueda-input" type="text" placeholder="Buscar"></a>
                <button type="submit"><i class="fa-solid fa-search"></i></button>
            </form>
        </div>
        <div>
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div>
            <a href="/login"><i class="fa-solid fa-user"></i></a>

        </div>

    </section>
    <a><section class="productCart__heater__section2"></a>
        <nav>
            <ul>

            </ul>
        </nav>
    </section>
</header>
<nav class="index__header__menu--nav">
<ul>
         <li><a href="">céramicas</a></li>
         <li><a href="">medidas</a></li>
         <li><a href="">colores</a></li>
         <li><a href="">tamaño</a></li>
</ul>
</nav>
</header>
 <main class="index__main">
<section class="index__main__section">
 <article class="index__main__section__article">
    <div class="index__main__section__article__photo">
    <img src="/images/images (2).jpg" alt="producto1" width="60%">
    
    <a href=""> </a>
   </div> 
  <p class="index__p"> ceramicas del oeste encuentre todo tipo de baldosas,ceramicas,ofertas,productos, envios de ceramicas  acorde a su presupuesto!</p>
</article>   

<article class="index__main__section__article">
    <div class="index__main__section__article__photo">
    <img src="/images/no-todas-las-baldosas-ceramicas-son-iguales.jpg " alt="producto2" width="70%">
      <a href=""></a>
   </div> 
  
  </article> 
</section>
 </main>   
    

 <section class="productCart__footer__section2">
  <nav>
      <ul>

      </ul>
  </nav>
</section>
<div class="footer__padre">
  <section class="productCart__footer__section">
      <div id="productCart__footer__div-img">
          <img class="footer__logo1" src="/img/Cerámicas_img2.png" alt="logo">
          <img class="footer__logo2" src="/img/Cerámicas_img.png" alt="logo">
      </div>
      <h1 class="footer__h1">Céramicas Del Oeste</h1>
      <div class="productCart__footer__div-iconRedes">

      </div>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-whatsapp"></i>
      <div class="productCart__footer__div-Location">
          <i class="fa-solid fa-location-dot"></i>
      </div>

  </section>
  <div class="footer__3">
      <div class="footer__retiro">
          <h4 class="footer__retiro__horario">Horarios de retiro</h4>
          <p>Lunes a Viernes: 9:00 a 12:00 y de 14:00 a 17:00hs</p>
          <p>Sábados: 9:00 a 12:00hs</p>

      </div>
      <div class="footer__locales">
          <h4>Locales</h4>
          <p>Colectora panamericana Este 28851 (El Talar)</p>
          <p>Av. Constituyentes Ex Ruta 9 2368 (Outlet)</p>
          <p>Austria norte 1521 (Tigre)</p>

      </div>
      <div class="footer__contacto">

          <h4>Contactanos</h4>
          <p>11 5467-6001</p>
          <p>11 6585-6102</p>
          <p>ventas@ideko.ar</p>

      </div>
      <div class="footer__atencion__cliente">

          <h4>Atencion al cliente:</h4>
          <p>Lunes a Viernes: 09:00 a 18:00hs</p>
          <p>Sábados: 09:00 a 16:00hs</p>

      </div>

  </div>
  <div class="footer__copy">
      <p>Copyright Ceramicas del Oeste S.A. - 2022. Todos los derechos reservados.</p>
  </div>
</div>
<section class="productCart__footer__section2">
  <nav>
      <ul>
       
      
      </ul>
  </nav>
</section>
</footer>
</body>

</html>