<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ceramicas del oeste | <%- title %> </title >
    
        <link   href="/stylesheets/index.css" rel="stylesheet">
        <link   href="/stylesheets/header.css" rel="stylesheet">
        <link   href="/stylesheets/footer.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/mediosDePago.css">
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <a>   <script src="https://kit.fontawesome.com/ae1423e40e.js" crossorigin="anonymous"></script></a>
    </head>
<body>
    <%- include('./partials/header') %>
    <main class="mediosDePagoMain">
        <div>
            <div>
                <h4>Banco Ciudad</h4>
                <img src="/images/mediosDePago/bancoCiudad.webp" width="15%" height="15%" alt="">
                <h5>3 cuotas sin interés TODOS LOS DÍAS</h5>
                <p>CARTERA DE CONSUMO. TASA NOMINAL ANUAL, EN ADELANTE TNA: 0,00%, TASA EFECTIVA ANUAL, EN ADELANTE TEA: 0,00%, COSTO FINANCIERO TOTAL EFECTIVO ANUAL, EN ADELANTE CFTEA: 0,00%. PROMOCIÓN DE HASTA 3 CUOTAS SIN INTERÉS, VÁLIDA EN EL PAÍS PARA COMPRAS CON LAS TARJETAS GALICIA VISA, GALICIA MASTERCARD Y GALICIA AMERICAN EXPRESS®, PARA LOS DÍAS COMPRENDIDOS ENTRE EL 01/04/2022 AL 31/12/2022. EJEMPLO: PARA CARTERA DE CONSUMO EN UNA COMPRA CUYO PRECIO TOTAL FINANCIADO ES DE $1000 Y SE PAGA EN 3 CUOTAS: EL VALOR DE LAS CUOTAS SERÁ DE $333,34 EL IMPORTE AHORRADO EN LAS COMPRAS CON TARJETAS GALICIA VISA, MASTERCARD Y GALICIA AMERICAN EXPRESS SE REINTEGRA EN EL MISMO RESUMEN EN QUE INGRESA EL CONSUMO. PARA LAS COMPRAS EFECTUADAS EN CUOTAS EL REINTEGRO TOTAL SE VISUALIZARÁ EN EL RESUMEN EN QUE INGRESA LA PRIMER CUOTA.DICHA PROMOCIÓN NO ES ACUMULABLE CON OTRAS PROMOCIONES VIGENTES. SÓLO PODRÁN PARTICIPAR DE LA PROMOCIÓN AQUELLOS CLIENTES QUE AL MOMENTO DE COMPRAR SE ENCUENTREN AL DÍA CON SUS PRODUCTOS. LOS PLANES AHORA 3, 6, 12 Y 18 NO SON ACUMULABLES CON LAS PROMOCIONES BANCARIAS. NO APLICA PARA COMPRAS CON TARJETAS A TRAVÉS DE MPOS Y BOTÓN DE PAGO S.A. NI ON LINE CON TARJETA DE DÉBITO, NI TARJETAS EMITIDAS A TRAVÉS DEL PROYECTO ANSES-ASIGNACIÓN POR HIJO. EL AHORRO/LA PROMOCIÓN NO APLICA A PAGOS A TRAVÉS DE BILLETERAS VIRTUALES, PLATAFORMAS DE PAGO Y/O PORTALES DE PAGO ONLINE. BANCO GALICIA SOLO ES EL MEDIO DE PAGO PARA LA ADQUISICIÓN DEL PRODUCTO/SERVICIO. EL PROVEEDOR ES EL EXCLUSIVO RESPONSABLE POR LA PRESTACIÓN, CORRECTO FUNCIONAMIENTO Y/O GARANTÍA. EL BENEFICIO NO APLICA A PRODUCTOS DENTRO DEL PROGRAMA PRECIOS CUIDADOS.</p>
                <hr class="mb-5">
            </div>
            <div>
                <H4>Galicia</H4>
                <img src="/images/mediosDePago/106.-BANCO-GALICIA.png" width="15%" height="15%" alt="">
                <h5>3 cuotas sin interés TODOS LOS DÍAS</h5>
                <p>PROPUESTA VÁLIDA EN LA REPÚBLICA ARGENTINA DEL 01/03/2021 HASTA EL 31/12/2022. PROPUESTA PARA CARTERA DE CONSUMO VÁLIDA EN LA REPÚBLICA ARGENTINA. SOLO 3 CUOTAS SIN INTERES CON TARJETAS DE CRÉDITO [VISA Y MASTERCARD] ICBC. VÁLIDO UNICAMENTE PARA COMPRAS EFECTUADAS EN TODO HOMECENTER EASY. PLAN EN CUOTAS TIENE TASA NOMINAL ANUAL 0,00%, TASA EFECTIVA ANUAL 0.00%, COSTO FINANCIERO TOTAL (CFT) 0.00%, .SÓLO PARA CLIENTES QUE SE ENCUENTREN AL DÍA EN SUS PRODUCTOS. INDUSTRIAL AND COMMERCIAL BANK OF CHINA (ARGENTINA) S.A. ES UNA SOCIEDAD ANÓNIMA BAJO LA LEY ARGENTINA. SUS ACCIONISTAS LIMITAN SU RESPONSABILIDAD AL CAPITAL APORTADO. EL BENEFICIO NO APLICA A PRODUCTOS DENTRO DEL PROGRAMA PRECIOS CUIDADOS.</p>
                <hr class="mb-5">
            </div>
            <div>
                <h4>ICBC</h4>
                <img src="/images/mediosDePago/20171012_icbc_300x200.png" width="15%" height="15%" alt="">
                <h5>3 cuotas sin interés TODOS LOS DÍAS</h5>
                <p>VÁLIDO DESDE EL 01/08/2020 HASTA EL 31/12/2022. CFT= COSTO FINANCIERO TOTAL. 0,00%. TASA EFECTIVA ANUAL 0,00%. PROMOCIÓN VÁLIDA EN TODO EL TERRITORIO DE LA REPÚBLICA ARGENTINA EN TODOS LOS LOCALES DE BLAISTEN SOBRE LOS PRECIOS DE CONTADO CON TARJETAS DE CRÉDITO VISA Y/O MASTERCARD EMITIDAS POR BANCO ITAÚ ARGENTINA S.A. CONSULTE SUCURSALES ADHERIDAS. NO ES COMBINABLE NI ACUMULABLE CON OTRAS OFERTAS Y/O PROMOCIONES. QUEDAN EXCLUIDAS LAS COMPRAS REALIZADAS CON TARJETAS CORPORATIVAS. BANCO ITAÚ ARGENTINA ES UNA SOCIEDAD ANÓNIMA SEGÚN LA LEY ARGENTINA. SUS ACCIONISTAS RESPONDEN POR LAS OPERACIONES DEL BANCO, SÓLO HASTA LA INTEGRACIÓN DE LAS ACCIONES SUSCRIPTAS (LEY 25.738). EL BENEFICIO NO APLICA A PRODUCTOS DENTRO DEL PROGRAMA PRECIOS CUIDADOS.</p>
                <hr class="mb-5">
            </div>
            <div>
                <h4>Itau</h4>
                <img src="/images/mediosDePago/itau.png" width="15%" height="15%" alt="">
                <h5>3 cuotas sin interés TODOS LOS DÍAS</h5>
                <p>VÁLIDO DESDE EL 01/08/2020 HASTA EL 31/12/2022. CFT= COSTO FINANCIERO TOTAL. 0,00%. TASA EFECTIVA ANUAL 0,00%. PROMOCIÓN VÁLIDA EN TODO EL TERRITORIO DE LA REPÚBLICA ARGENTINA EN TODOS LOS LOCALES DE BLAISTEN SOBRE LOS PRECIOS DE CONTADO CON TARJETAS DE CRÉDITO VISA Y/O MASTERCARD EMITIDAS POR BANCO ITAÚ ARGENTINA S.A. CONSULTE SUCURSALES ADHERIDAS. NO ES COMBINABLE NI ACUMULABLE CON OTRAS OFERTAS Y/O PROMOCIONES. QUEDAN EXCLUIDAS LAS COMPRAS REALIZADAS CON TARJETAS CORPORATIVAS. BANCO ITAÚ ARGENTINA ES UNA SOCIEDAD ANÓNIMA SEGÚN LA LEY ARGENTINA. SUS ACCIONISTAS RESPONDEN POR LAS OPERACIONES DEL BANCO, SÓLO HASTA LA INTEGRACIÓN DE LAS ACCIONES SUSCRIPTAS (LEY 25.738). EL BENEFICIO NO APLICA A PRODUCTOS DENTRO DEL PROGRAMA PRECIOS CUIDADOS.</p>
                <hr class="mb-5">
            </div>
            <div>
                <h4>SuperVielle</h4>
                <img src="/images/mediosDePago/supeville.jpg" width="15%" height="15%" alt="">
                <h5>3 y 6 cuotas sin interés TODOS LOS DÍAS</h5>
                <p>VÁLIDO DESDE EL 01/01/2021 HASTA EL 31/12/2022 PARA COMPRAS CON TARJETAS DE CRÉDITO VISA Y MASTERCARD DEL BANCO SUPERVIELLE S.A. EN LOCALES EASY DE TODO EL PAÍS. DISPONIBLE PARA CARTERA CONSUMO. NO ES APLICABLE A TARJETAS CORPORATIVAS NI A TARJETAS EMITIDAS EN ORIGEN POR CORDIAL COMPAÑÍA FINANCIERA S.A. SÓLO 3 CUOTAS FIJAS: TASA NOMINAL ANUAL (TNA):0,00 % TASA EFECTIVA ANUAL (TEA): 0,00 % COSTO FINANCIERO TOTAL EFECTIVO ANUAL (CFTEA): 0,00% EL CFTEA Y DEMÁS DATOS ECONÓMICOS INFORMADOS EN EL PRESENTE, CORRESPONDEN EXCLUSIVAMENTE A LA OPERACIÓN DE COMPRA EN CUOTAS OBJETO DE LA PRESENTE. TARJETAS DE CRÉDITO, TARJETAS DE CRÉDITO: P/ LA COMPRA DE UN PRODUCTO EN 6 CUOTAS SIN INTERÉS CUYO PRECIO FUERA $1200, PAGARÁ $200 MENSUALES. BANCO SUPERVIELLE S.A.,B. MITRE 434 C.A.B.A.- CUIT 33-50000517-9 INSCRIP. I.G.J. N° 23, F° 502, L. 45, T° A DE ESTATUTOS NAC. BANCO SUPERVIELLE S.A. NO ES RESPONSABLE POR LOS PRODUCTOS Y/O SERVICIOS COMERCIALIZADOS POR LAS MARCAS Y LOCALES PARTICIPANTES EN LAS PROMOCIONES. EL BENEFICIO NO APLICA A PRODUCTOS DENTRO DEL PROGRAMA PRECIOS CUIDADOS.</p>
                <hr class="mb-5">
            </div>
            <div>
                <h4>Clarin 365:</h4>
                <img src="/images/mediosDePago/f232c50eadcaf1eb!Clarin365.png" width="15%" height="15%" alt="">
                <h5>15% de descuento LOS DIAS MARTES</h5>
                <p>PARA MÁS INFORMACIÓN CONSULTE EN WWW.365.CLARIN.COM. OFERTA VÁLIDA TODOS LOS MARTES, DEL 01/01/2022 AL 31/12/2022, EN LOCALES BLAISTEN DE ARGENTINA, PARA PERSONAS MAYORES DE EDAD QUE AL MOMENTO DEL PAGO DE SU COMPRA PRESENTEN SU TARJETA CLARIN 365 O 365 PLUS. LOS DESCUENTOS DE REALIZARÁN EN LÍNEA DE CAJAS. NO PARTICIPAN LAS SIGUIENTES SECCIONES Y PRODUCTOS: MUEBLES DE COCINA, SERVICIOS DE MESADAS, PRODUCTOS DE PROYECTO (A MEDIDA), PRODUCTOS DE SEGUNDA Y ARTICULOS DE LIQUIDACIÓN, PRODUCTOS DENTRO DEL PROGRAMA DE PRECIOS CUIDADOS. NO VÁLIDO PARA ACOPIO, RETIRA CLIENTE, VENTA TELEFÓNICA Y WEB, AHORRO PACK, PAGO SERVICIOS, FLETES E INSTALACIONES. NO ACUMULABLE NI COMBINABLE CON OTRAS ACCIONES, PROMOCIONES O DESCUENTOS. (1) LOS SOCIOS CLARIN 365 Y CLARIN 365 PLUS RECIBIRÁN UN DESCUENTO DEL 10% SOBRE EL PRECIO TOTAL DE COMPRA, SIN TOPE DE COMPRA.</p>
                <hr class="mb-5">
            </div>
            <div>
                <h4>Cencosud:</h4>
                <img src="/images/mediosDePago/Logo-Cencosud-en-color_Transp.png" width="15%" height="15%" alt="">
                <h5>10% DE DESCUENTO +6 CUOTAS SIN INTERÉS EN TU COMPRA, SOLO LOS LUNES</h5>
                <p>PROMOCIÓN VÁLIDA DESDE EL 01/11/2022 AL 15/11/2022 PARA COMPRAS REALIZADAS CON TARJETA CENCOSUD SOLO LOS DÍAS LUNES DURANTE EL MES DE NOVIEMBRE EN LOS LOCALES BLAISTEN HABILITADOS DE CABA Y GBA. INCLUYE VENTA PRESENCIAL Y NO PRESENCIAL. NO ES ACUMULABLE CON OTRAS PROMOCIONES Y/O DESCUENTOS. NO INCLUYE OUTLET, DEPARTAMENTO DE OBRAS, SERVICIOS NI PRODUCTOS EN PROMOCION Y/O QUE TENGAN DESCUENTO. NO INCLUYE PRODUCTOS DENTRO DEL PROGRAMA PRECIOS CUIDADOS. (1) VÁLIDA EN TU COMPRA. EL DESCUENTO SE HARÁ EFECTIVO EN LA LÍNEA DE CAJAS. (2) VÁLIDA EN SOLO 6 CUOTAS FIJAS MENSUALES SIN INTERÉS EN TU COMPRA. ESTAS PROMOCIONES NO APLICAN PARA CLIENTES EN MORA O INHABILITADOS. PLAN 6: TASA NOMINAL ANUAL: 0,0%; TASA EFECTIVA ANUAL: 0,0%; EL COSTO FINANCIERO TOTAL NOMINAL ANUAL: 0,0%. SISTEMA FRANCÉS DE AMORTIZACIÓN MENSUAL. EL COSTO FINANCIERO TOTAL SE EXPRESA COMO TASA NOMINAL ANUAL CORRESPONDIENTE AL FLUJO DE FONDOS CONSIDERADO. EL COSTO FINANCIERO TOTAL NOMINAL ANUAL NO INCLUYE LA COMISIÓN MENSUAL DE ADMINISTRACIÓN DE CUENTA NI COSTOS ASOCIADOS AL MANTENIMIENTO DE LA TARJETA. CONSULTE COMISIONES Y CARGOS VIGENTES ASOCIADOS A SU CUENTA AL 0810-9999-627 O PARA MAS INFORMACION INGRESAR EN WWW.TARJETACENCOSUD.COM.AR. EL TITULAR PODRÁ EN CUALQUIER MOMENTO SOLICITAR EL RETIRO O BLOQUEO DE SU NOMBRE DE LOS BANCOS DE DATOS A LOS QUE SE REFIERE EL PRESENTE ARTÍCULO (ART. 27 DE LA LEY 25.326). EN TODA COMUNICACIÓN CON FINES DE PUBLICIDAD QUE SE REALICE POR CORREO, TELÉFONO, CORREO ELECTRÓNICO, INTERNET U OTRO MEDIO A DISTANCIA A CONOCER, SE DEBERÁ INDICAR, EN FORMA EXPRESA Y DESTACADA, LA POSIBILIDAD DEL TITULAR DEL DATO DE SOLICITAR EL RETIRO O BLOQUEO, TOTAL O PARCIAL, DE SU NOMBRE DE LA BASE DE DATOS. A PEDIDO DEL INTERESADO SE DEBERÁ INFORMAR EL NOMBRE DEL RESPONSABLE O USUARIO DEL BANCO DE DATOS QUE PROVEYÓ LA INFORMACIÓN (ART. 27, PÁRRAFO TERCERO, DEL ANEXO I DEL DECRETO N° 1558/01). CENCOSUD S.A. CUIT 30-59036076-3, SUIPACHA 1111, PISO 18, CABA (DOM. NO COMERCIAL)</p>
            </div>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>