<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ceramicas del oeste | <%- title %> </title >
 
        <link   href="/stylesheets/productCart.css" rel="stylesheet">
        <link   href="/stylesheets/header.css" rel="stylesheet">
        
     <a>   <script src="https://kit.fontawesome.com/ae1423e40e.js" crossorigin="anonymous"></script></a>
    </head>
<body class="productCart-body">
    <%- include('./partials/header') %>
    <main>
        <h1 class="productCart__main__h1">Mi Carrito</h1>
        <section class="productCart__main__section">
            <article class="productCart__main__article">
                <div class="productCart__main__div1">
                    <img src="/img/ceramica copacabana.jpeg" alt="Cerámica Copacabana">

                    <h2>Cja 10 pzs céramica SCOP Copacabana 45,3x45,3</h2>
                </div>

                <div class="productCart__main__div2">
                    <form action="">
                        <label for="quantity">Cantidad</label>
                        <input type="number" name="quantity" id="Cantidad">
                    </form>
                    <p>Precio: $2.800</p>
                    <p>Total: $2.800</p>
                    <form action="" method="">
                        <button type="reset">Eliminar</button>
                </div>

                </form>
            </article>
            <article class="productCart__main__article">
                <div class="productCart__main__div1">
                    <img src="/img/ceramica ferrazzano.jpeg" alt="Cerámica ferrazzano">

                    <h2>Cja 18 pzs céramica ferrazzano 36x36 Ceibo Nat Brillante</h2>
                </div>

                <div class="productCart__main__div2">
                    <form action="">
                        <label for="quantity">Cantidad</label>
                        <input type="number" name="quantity" id="Cantidad">
                    </form>
                    <p>Precio: $2.980</p>
                    <p>Total: $2.980</p>
                    <form action="" method="">
                        <button type="reset">Eliminar</button>
                </div>
                </form>
            </article>
        </section>
        <section class="productCart__main__section-pago">
            <div>
                <p>Subtotal:</p>
                <p>$5.780</p>
            </div>
            <div>
                <p>Envío:</p>
                <form action="" method="get">
                    <label for="envio"></label>
                    <select name="envio" id="envio">
                        <option value="">Retiro en Sucursal</option>
                        <option value="">Retiro en Correo Argentino</option>
                        <option value="">Envío a domicilio</option>
                    </select>
                </form>
            </div>
            <div>
                <p>Total:</p>
                <p>$5.780</p>
            </div>
            <div>
                <p>Forma de pago:</p>
                <form action="" method="get">
                    <label for="pago"></label>
                    <select name="pago" id="pago">
                        <option value="">Efectivo</option>
                        <option value="">Tarjeta de crédito</option>
                        <option value="">Tarjeta de débito</option>
                        <option value="">Mercado pago</option>
                    </select>
            </div>
        </section>
        <section class="productCart__main__section-end">
            <button type="submit">Finalizar compra</button>
            <button type="reset">Cancelar</button>
        </section>
    </main>
    <%- include("./partials/footer") %> 
</body>

</html>