<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ceramicas del oeste | <%- title %> </title >
    
        <link   href="/stylesheets/index.css" rel="stylesheet">
        <link   href="/stylesheets/header.css" rel="stylesheet">
        <link   href="/stylesheets/footer.css" rel="stylesheet">
        <link   href="/stylesheets/quienesSomos.css" rel="stylesheet">
    
     <a>   <script src="https://kit.fontawesome.com/ae1423e40e.js" crossorigin="anonymous"></script></a>
    </head>
<body>
    <%- include('./partials/header') %>
   <main>
    <div class="containerPadre">
        <div class="containerIndex">
            <div class="containerIndex1">
                <h1>Ceramicas del Oeste</h1>
                <h3> Conozca nuestra historia y nuestra filosofia de trabajo</h3>
                <p>Somos una empresa argentina con más de 20 años en el rubro de la construcción. Nuestra trayectoria avalan la dedicación, compromiso, seriedad y responsabilidad que necesitas para tus proyectos.</p>
        <p>Nacida en 2010, Ceramicas del Oeste es una empresa líder en la importación de revestimientos. Proveemos una gran variedad de productos innovadores garantizando su entrega inmediata a todo el país.</p>
    <p>Brindamos un servicio personalizado, acompañando a nuestros clientes en el proceso de búsqueda y selección de revestimientos de la más alta calidad.</p>
    
            </div>
            
            <img src="/images/mediosDePago/WhatsApp Image 2022-12-05 at 18.17.49.jpeg" height="100%" alt="">
            
        </div>
        
       
    
    <div class="containerEmpresa">
        <div>
            <h4>NUESTRA MISIÓN
            </h4>
            <p>Brindarles a nuestros Clientes las mejores tendencias del mercado, asesorándolos en productos que mejor satisfagan sus necesidades</p>
        </div>
        <div>
            <h4>NUESTRA VISIÓN</h4>
            <p>Ser inspiradores del Mercado de Revestimientos</p>
        </div>
        <div>
            <h4>NUESTROS VALORES</h4>
            <p>Experiencia, Honestidad, Excelencia, Responsabilidad</p>
        </div>
    </div>
</div>
    

   </main>
    <%- include("./partials/footer") %>
</body>
</html>