/*Aca va a ir lo general, tipo de letra, colores, etc. Y cuando se decida el Header y el Footer.*/
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&display=swap');

:root{
    --colorVerdeAlto: #2E6157;
    --colorVerdeMedio: #51AD9B;
    --colorVerdeCasiMedio: #69E0C9;
    --colorVerdeBajo: #C0FAEE;
    --colorGris: #626363;
    --colorRojo: red;
    --colorBlanco: #fff;
    --colorNegro: black;
    --tipografiaGeneral: 'ABeeZee';
}
