@import './index.css';

:root{
    --colorRojo :black;
    --colorGris : black;
}


* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

ol, ul {
    padding: 0;
}

