@import '/css/general.css';

li{
  list-style: none;
}
a{
  text-decoration: none;
}

.index__body{
  font-family: var(--tipografiaGeneral);
}
.index__header__menu--nav  {
    text-decoration:none;
    background-color: var(--colorCrema) ;
    border: solid 1px black;
    align-items: center;
    background-color: antiquewhite;
    font-family: "Abezee", sans-serif;
    align-items:center;
    border: solid 1px black;
    text-align:center;
    background-color: antiquewhite;
     width: 99,1%;
    border: solid px black;
    flex-direction:row;
    margin-top: 1px;
    padding: 0;
    box-shadow: 2px 02px 10px rgb(100, 100, 100);
    width: 50,1%;
}

.productCart__heater__section { 
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;}
.header__logo1 {
  display: flex;
  height: 30px;
  padding-left: 6px;
}
.header__logo2 {
  display: flex;
  height: 23px;
  padding-left: 0px;
  margin-bottom: 5px;
}

.header__h1 {

  font-size: 18px;
  color: #2E6157;
  width: 20%;

}

.productCart__header__div-iconRedes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 8%;
}

.productCart__header__div-Location {
  display: flex;
  width: 5%;
  color: red;
}

.productCart__header__div-busqueda-input {
  font-size: 14px;
  width: 100px;
  ;
}

.productCart__heater__section2 {
  background-color: #69E0C9;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: solid 1px black;
}

.productCart__heater__section {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: solid 1px black;
}

.header__logo1 {
  display: flex;
  height: 30px;
  padding-left: 6px;
}

.header__logo2 {
  display: flex;
  height: 23px;
  padding-left: 0px;
  margin-bottom: 5px;
}

.header__h1 {

  font-size: 18px;
  color: #2E6157;
  width: 20%;

}

.productCart__header__div-iconRedes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 8%;
}

.productCart__header__div-Location {
  display: flex;
  width: 5%;
  color: red;
}

.productCart__header__div-busqueda-input {
  font-size: 14px;
  width: 100px;
  
}

.productCart__heater__section2 {
  background-color: #69E0C9;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: solid 1px black;
}

@media (min-width:425px) {
  .productCart__header__div-iconRedes {
    display: none;
  }

  .productCart__header__div-Location {
    display: none;
  }
}

@media (min-width: 600px) {

  /*HEADER*/
  .productCart__header__div-iconRedes {
    display: none;
  }

  .productCart__header__div-Location {
    display: none;
  }

  .header__h1 {
    font-size: 10px;
  }

  .index__main {
    background-color: rgb(47, 255, 238);
    width: 100%;
    margin-top: 2px;
    text-decoration: none;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;
    text-align: center;
    background-color: antiquewhite;
    outline-color: auto;


  }


  .index__main__section {
    background-color: rgb(47, 255, 238);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid px black;
    width: 100%;
    padding: 0px;
    font-size: 18px;
    text-align: center;
    background-color: antiquewhite;
  }

  .index__main__section__article {
    width: 100%;
    margin: 1px;
    box-shadow: 1px 0px 10px rgb(100, 100, 100);
    width: 99, 1%;

  }


  .index__main__section__article__photo {
    background-color: rgb(47, 255, 238);
    text-align: center;
    margin-top: 1px;
    display: inline;
    width: 10PX;
    align-items: center;
    align-items: flex-start;
    background-color: antiquewhite;
    box-shadow: 1px 0px 10px rgb(100, 100, 100);
    width: 99, 1%;
  }


  .index__p {
    font-family: "Abezee", sans-serif;
    align-items: center;
    border: solid 1px black;
    text-align: center;
    background-color: antiquewhite;
    width: 99, 1%;
    border: solid px black;
    flex-direction: row;
    margin-top: 1px;
    padding: 0;
    box-shadow: 2px 02px 10px rgb(100, 100, 100);
    width: 99, 1%;
  }

  .ultimo__p {
    display: flex;
    box-shadow: 1px 0px 10px rgb(100, 100, 100);
    width: 99, 1%;
  }

  .footer__padre {
    border: 1px solid black;
  }

  .productCart__footer__section {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .footer__logo1 {
    display: flex;
    height: 30px;
    padding-left: 6px;
  }

  .footer__logo2 {
    display: flex;
    height: 23px;
    padding-left: 0px;
    margin-bottom: 5px;
  }

  .footer__h1 {

    font-size: 18px;
    color: #2E6157;
    width: 20%;
  }

  .productCart__footer__section2 {
    background-color: #69E0C9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;
  }

@media (min-width:425px) {
    .productCart__header__div-iconRedes{
      display: none;
    }
  }
  .footer__3 {
    margin-left: 12px;
  }

  .footer__3 p {
    margin: 0%
  }

  .footer__3 h4 {
    margin-bottom: 0%;
  }

  .footer__retiro__horario {
    margin-top: 0%;
  }

  .footer__copy {
    margin-top: 12px;
    font-size: 11px;
    margin-left: 12px;
  }

  @media (min-width: 1024px) {

    .footer__locales {
      margin-right: 20px;
    }

    .footer__contacto {
      margin-left: 0%;
      margin-right: 20px;
    }
  }

  @media (min-width: 768px) {
    .footer__3 {
      display: flex;
    }

    .footer__3 h4 {
      margin-top: 0%;
    }

    .footer__contacto {
      margin-left: 0%;
      margin-right: 15px;
    }
  }
}