@import  './general.css';
/**/
.is-invalid{
  background: rgb(167,0,0);
  background: linear-gradient(0deg, rgba(167,0,0,1) 0%, rgba(255,0,0,0) 9%, rgba(227,9,9,0) 19%);
}
.is-valid{
  background: rgb(0,167,14);
  background: linear-gradient(0deg, rgba(0,167,14,1) 0%, rgba(31,255,0,0) 9%, rgba(10,227,9,0) 19%);
}
.button-invalid{
  background-color:red;
}
.button-valid{
  background-color: green;
}
li{
  text-decoration: none;
}
a{
  color: black;
}
body{
  font-family: 'ABeeZee', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

/*
.index__header__menu--nav{
  background-color: #69E0C9;
  border: solid 1px black;
}
.header__logo1 {
  display: flex;
  height: 30px;
  padding-left: 6px;
}

.header__logo2 {
  display: flex;
  height: 23px;
  padding-left: 0px;
  margin-bottom: 5px;
}

.header__h1 {
  
  font-size: 18px;
  color: #2E6157;
  width: 20%;

}

.productCart__header__div-iconRedes {
  display: none;
  
}

.productCart__header__div-Location {
  display: none;
  
}
.productCart__header__div-busqueda-input {
  font-size: 14px;
  width: 100px;;
}
.registro__header--volver i{
  margin-left: 0px;
  margin-right: 98%;
} */
.foto1{
  display: flex;
  height: 36px;
  padding-left: 42%;
  padding-bottom: 1px;
}
.foto2{
  display: flex;
  height: 26px;
  padding-left: 40%;
  margin-bottom: 15px;
}

.container{
  border: 1px solid silver;
  position: relative;
  background: white;
  padding: 60px 40px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.input-field, form .button{
  margin: 25px 0;
  position: relative;
  height: 50px;
  width: 100%;
}
.input-field input{
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: 1px solid silver;
  padding-left: 15px;
  outline: none;
  font-size: 19px;
  transition: .4s;
}
input:focus{
  border: 1px solid #1DA1F2;
}
.input-field label, span.show{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-field label{
  left: 15px;
  pointer-events: none;
  color: grey;
  font-size: 18px;
  transition: .4s;
}
input:valid ~ span.show{
  visibility: visible;
}
input:focus ~ label,
input:valid ~ label{
  transform: translateY(-33px);
  background: white;
  font-size: 16px;
  color: #1DA1F2;
}
form .button{
  margin-top: 30px;
  z-index: 11;
}


.button button{
  width: 100%;
  height: 100%;
  border: none;
  background: #69E0C9;
  outline: none;
  color: white;
  font-size: 20px;
  cursor: pointer;

  
}
.container .auth{
  margin: 35px 0 20px 0;
  font-size: 15px;
  color: grey;
}
.links{
  display: flex;
  
}
.facebook{
  height: 40px;
  width: 100%;
  border: 1px solid silver;
  border-radius: 3px;
  margin: 1%;
  padding-left: 4%;
  
}
.google{
  height: 40px;
  width: 100%;
  border: 1px solid silver;
  border-radius: 3px;
  margin: 1%;
  padding-left: 12%;
  
}
.facebook:hover{
  border: 1px solid #4267B2;
}
.google:hover{
  border: 1px solid #dd4b39;
}
.facebook i, .facebook span{
  color: #4267B2;
}
.google i, .google span{
  color: #dd4b39;
}
.links i{
  font-size: 23px;
  line-height: 40px;
  margin-left: -90px;
}
.links span{
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  padding-left: 8px;
  
}
.signup{
  margin-top: 50px;
  
}
.signup a{
  color: #3498db;
  text-decoration: none;
}
.footer__padre{
  border: 1px solid black;
}
  .productCart__footer__section {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
     
  }
  


  .footer__logo1 {
    display: flex;
    height: 30px;
    padding-left: 6px;
  }
  
  .footer__logo2 {
    display: flex;
    height: 23px;
    padding-left: 0px;
    margin-bottom: 5px;
  }
  
  .footer__h1 {
    
    font-size: 18px;
    color: #2E6157;
    width: 20%;
  
  }
  /*
  .productCart__heater__section{
display: flex;
justify-content: space-between;
margin-top: 2%;
  }*/
  .productCart__footer__section{
    margin-top: 1%;
    margin-bottom: 2%;
  }
  
  .productCart__footer__div-iconRedes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 8%;
  }
  
  .productCart__footer__div-Location {
    display: flex;
    width: 5%;
    color: red;
  }
  .productCart__footer__div-busqueda-input {
    font-size: 14px;
    width: 100px;;
  }
  
  .productCart__footer__section2 {
    background-color: #69E0C9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;
  }
  .footer__3{
    margin-left: 12px;
  }
  .footer__3 p{
    margin:0%
  }
  .footer__3 h4{
    margin-bottom: 0%;
  }

  .footer__retiro__horario{
    margin-top: 2%;
  }
  .footer__locales{
    margin-top: 2%;
  }
  .footer__contacto{
    margin-top: 2%;
  }
  .footer__atencion__cliente{
    margin-top: 2%;
    margin-bottom: 0%;
  }
/*
@media (min-width:460px) {
  .productCart__header__div-iconRedes{
    display: flex;
  }
  .productCart__header__div-Location{
display: flex;
  } 
}
*/

@media (min-width:768px){
  /*
  .productCart__header__div-Location {
    display: flex;
    width: 5%;
    color: red;
  }
  .productCart__header__div-iconRedes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 8%;
  }
  .productCart__heater__section {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;
} */
.foto1{
margin-left: 6%;
}

.foto2{
  margin-left: 7%;
}
.footer__3{
  display: flex;
  justify-content: space-between;
}
.footer__copy{
  margin-left: 0%;
}
}

@media (min-width:1040px){
  .foto1{
    margin-left: 6%;
    }
    
    .foto2{
      margin-left: 95px;
    }
}