@import './general.css';

/*
.index__header__menu--nav{
    background-color: #69E0C9;
    border: solid 1px black;
  }
  .header__logo1 {
    display: flex;
    height: 30px;
    padding-left: 6px;
  }
  
  .header__logo2 {
    display: flex;
    height: 23px;
    padding-left: 0px;
    margin-bottom: 5px;
  }
  
  .header__h1 {
    
    font-size: 18px;
    color: #2E6157;
    width: 20%;
  
  }
  .productCart__header__section {
    background-color: var(--colorBlanco);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: none;
}
  .productCart__header__div-iconRedes {
    display: none;
    
  }
  
  .productCart__header__div-Location {
    display: none;
    
  }
  .productCart__header__div-busqueda-input {
    font-size: 14px;
    width: 100px;;
  }
  .registro__header--volver i{
    margin-left: 0px;
    margin-right: 98%;
  }
  */
body{
    font-family: var(--tipografiaGeneral);
}
h1{
    text-align: center;
}
.registro__header{
    background: linear-gradient(180deg, #69E0C9, #C0FAEE, #fff);
    border: none;
}
.registro__header--volver I{
    padding: 12px;
    color: var(--colorRojo);
}
.form__box{
    margin-bottom: 30px;
}
.form__label{
    width: 100%;
    margin-top: 10px;
}
.form__input{
    width: 100%;
    height: 20px;
    border: none;
    border-bottom: 1px solid var(--colorGris);
}
.foto1{
    display: flex;
    height: 35px;
    padding-left: 80px;
    padding-bottom: 2px;
}
.foto2{
    display: flex;
    height: 28px;
    padding-left: 61px;
    margin-bottom: 5px;
}

.form__box--caja{
    display: block;
    text-align: right;
    background-color: var(--colorVerdeCasiMedio);
    line-height: 45px;
    background: linear-gradient(360deg, var(--colorVerdeCasiMedio), var(--colorVerdeBajo), var(--colorBlanco));
    border: none;
}
.form__box--button{
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px;
    background-color: var(--colorGris);
    color: var(--colorBlanco);
    text-align: center;
    border-radius: 8px;
}
.registro__main{
    padding: 8px;
}
.footer__padre{
    border: 1px solid black;
  }
    .productCart__footer__section {
      background-color: var(--colorBlanco);
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
     
       
    }
    .footer__logo1 {
      display: flex;
      height: 30px;
      padding-left: 6px;
    }
    
    .footer__logo2 {
      display: flex;
      height: 23px;
      padding-left: 0px;
      margin-bottom: 5px;
    }
    
    .footer__h1 {
      
      font-size: 18px;
      color: var(--colorVerdeAlto);
      width: 20%;
    
    }
    .productCart__heater__section{
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
    }
    .productCart__footer__section{
      margin-top: 1%;
      margin-bottom: 2%;
    }
    
    .productCart__footer__div-iconRedes {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 8%;
    }
    
    .productCart__footer__div-Location {
      display: flex;
      width: 5%;
      color: var(--colorRojo);
    }
    .productCart__footer__div-busqueda-input {
      font-size: 14px;
      width: 100px;;
    }
    
    .productCart__footer__section2 {
      background-color: var(--colorVerdeCasiMedio);
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border: solid 1px black;
    }
    .footer__3{
      margin-left: 12px;
    }
    .footer__3 p{
      margin:0%
    }
    .footer__3 h4{
      margin-bottom: 0%;
    }
  
    .footer__retiro__horario{
      margin-top: 2%;
    }
    .footer__locales{
      margin-top: 2%;
    }
    .footer__contacto{
      margin-top: 2%;
    }
    .footer__atencion__cliente{
      margin-top: 2%;
      margin-bottom: 0%;
    }


/*Tablet*/
@media (min-width:768px) {
    h1{
        text-align: center;
    }
    .foto1{
        display: flex;
        height: 40px;
        padding-left: 41%;
        padding-bottom: 2px;
    }
    .foto2{
        display: flex;
        height: 33px;
        padding-left: 38.5%;
        margin-bottom: 5px;
    }
    .form__box--caja{
        display: block;
        width: 100%;
        text-align: right;
        background-color: var(--colorVerdeCasiMedio);
        line-height: 45px;
    }
    .form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .form__box{
        width: 45%;
    }

/*Desktop*/
@media (min-width:1024px) {
    h1{
        text-align: center;
    }
    .foto1{
        display: flex;
        height: 37px;
        padding-left: 45%;
        padding-bottom: 2px;
    }
    .foto2{
        display: flex;
        height: 30px;
        padding-left: 44%;
        margin-bottom: 5px;
    }
    .form__box--caja{
        display: block;
        width: 100%;
        text-align: right;
        background-color: var(--colorVerdeCasiMedio);
        line-height: 45px;
    }
    .form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .form__box{
        width: 45%;
    }    
}
}